@font-face {
  font-family: "Terminator Two";
  src: url("TERMINAT.eot?") format("eot"), url("TERMINAT.woff") format("woff"),
    url("TERMINAT.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Caviar Dreams";
  src: url("CaviarDreams.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("Lato-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("Lato-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
