.homepage {
  &_wrapper {
    @apply w-full min-h-screen relative select-none;
  }
}

.nav {
  &_wrapper {
    @apply sticky top-0 h-20 w-full shadow-lg transition-colors duration-300 z-[100] flex justify-center items-center px-4;
    @screen md {
      @apply px-6;
    }
    @screen lg {
      @apply px-8;
    }
  }

  &_content {
    @apply max-w-[90rem] w-full flex justify-between;
  }

  &_logo-wrapper {
    @apply select-none pointer-events-none;
    span {
      @apply font-terminatorTwo pointer-events-none;
    }
  }
  &_link-container {
    @apply grid grid-flow-col gap-20  text-[#e4e4e4] items-center;
    button {
      @apply transition-all font-lato relative duration-500 h-fit cursor-pointer border-none select-none;
    }

    button::before {
      @apply block absolute bottom-0 content-[''] w-[0] h-[1px] bg-[#e4e4e4] transition-all duration-500;
    }
    button:hover {
      @apply text-[#e4e4e4];
    }
    button:hover::before {
      @apply w-full;
    }
  }

  &_link-container--navFix {
    @apply text-[#383838];
    button::before {
      @apply bg-[#111111];
    }
    button:hover {
      @apply text-[#111111];
    }
  }

  &_btn-dropdown {
    @apply my-auto;
    svg {
      @apply text-[#e4e4e4] text-4xl;
    }
    &--navFix {
      svg {
        @apply text-[#111111] text-4xl;
      }
    }
  }
}
