.homepage {
  &_wrapper {
    @apply w-full min-h-screen relative select-none;
  }
}

.nav {
  &_wrapper {
    @apply sticky top-0 h-20 w-full shadow-lg transition-colors duration-300 z-[100] flex justify-center items-center px-4;
    @screen md {
      @apply px-6;
    }
    @screen lg {
      @apply px-8;
    }
  }

  &_content {
    @apply max-w-[90rem] w-full flex justify-between;
  }

  &_logo-wrapper {
    @apply select-none pointer-events-none;
    span {
      @apply font-terminatorTwo pointer-events-none;
    }
  }
  &_link-container {
    @apply grid grid-flow-col gap-20  text-[#e4e4e4] items-center;
    button {
      @apply transition-all font-lato relative duration-500 h-fit cursor-pointer border-none select-none;
    }

    button:not(.btnContact):before {
      @apply block absolute bottom-0 content-[''] w-[0] h-[1px] bg-[#e4e4e4] transition-all duration-500;
    }
    button:not(.btnContact):hover {
      @apply text-[#e4e4e4];
    }
    button:not(.btnContact):hover::before {
      @apply w-full;
    }
    button.btnContact {
      @apply py-4 h-full px-5 bg-primary text-[#ffffff] rounded-sm transition-colors duration-200;
    }
    button.btnContact:hover {
      @apply py-4 px-5 bg-[#cacaca] text-[#1b1b1b] rounded-sm;
    }
  }

  &_link-container--navFix {
    @apply text-[#383838];
    button:not(.btnContact):before {
      @apply bg-[#111111];
    }
    button:not(.btnContact):hover {
      @apply text-[#111111];
    }
  }

  &_btn-dropdown {
    @apply my-auto;
    svg {
      @apply text-[#e4e4e4] text-4xl;
    }
    &--navFix {
      svg {
        @apply text-[#111111] text-4xl;
      }
    }
  }

  &_dropdown {
    @apply flex flex-col fixed items-center space-y-4 pt-4 top-20 bg-[#00000067] left-0  w-full h-[calc(100vh-80px)];
  }

  &_dropdown__item {
    @apply p-8 rounded-full font-caviarDreams text-3xl min-w-[18.75rem] bg-[#1a550e] text-[#e0e0e0] w-fit;
  }
}
