.banner {
  &_wrapper {
    @apply relative w-full h-[90vh] mt-[-5rem] bg-black;
    height: 90dvh;

    [class~="swiper-wrapper"] {
      @apply w-full h-full relative;
    }
  }

  &_swiper-wrapper,
  &_swiper-slide {
    @apply relative w-full h-full;
  }

  &_swiper-slide {
    img {
      @apply object-cover h-full w-full;
    }
  }

  &_swiper-wrapper:before {
    @apply content-[''] block absolute w-full h-full z-[2] bg-[#000000b9];
  }

  &_context-wrapper {
    @apply absolute top-1/2 w-full h-full flex flex-col justify-center items-center left-1/2 -translate-x-1/2 z-10 text-4xl md:text-6xl text-white  -translate-y-1/2;
  }

  &_context-wrapper__mask {
    @apply bg-[#00a74f];
    mask-image: url("/svg/circle.svg");
    mask-repeat: no-repeat;
    mask-size: 0px;
    mask-position: none;
    color: black;
  }

  &_tagline {
    @apply md:text-lg text-sm text-white font-caviarDreams tracking-[.5em] text-center;
  }
}
